.bottle-item {
  &_main {
    display: flex;
    justify-content: space-between;

    &_words {
      &_name {
        font-weight: 700;
      }

      &_alcohol-content {
        font-style: italic;
        color: $yellow;
      }
    }

    &_price {
      font-weight: 400;
      font-style: italic;
    }
  }
}
