@import "colors/colors.module.scss";
@import "fonts";
@import "buttons";
@import "components";
@import "helper";
@import "pages";


// idk?

html {
    height: 100%;
    body {
        margin: 0;
        height: 100%;
        // overflow-y: hidden;
        #root {
            height: 100%;

            .fade-overlay {
                position: absolute;
                top: 0;
                height: 100vh;
                width: 100%;
                background-color: $black;
                animation: fadeOut 1s ease-out forwards;
            }
        }
    }
}

@keyframes fadeOut {
    100% {
        background-color: transparent;
    }
}