@import url('https://fonts.googleapis.com/css2?family=FONTNAME:wght@300;400;500;600;700&display=swap');

// create standard variable default with defautl weight
@mixin my-google-font-name($font-weight: 400) {
    font-family: 'FONTNAME', sans-serif;
    font-style: normal;
    font-weight: $font-weight !important;
}

.my-google-font-name {
    @include my-google-font-name;
}

// rinse and repeat for each weight / create names. EX: light(300) regular(400) medium(500) semiBold(600) bold(700)
.my-google-font-name_light {
    @include my-google-font-name(300);
}