// Adding a new color...
// 1. Add to the "Standard Color Declarations"
// 2. Add to the theme-colors map
// 3. Add to the :export statement
// 4. Add to the interface in colors.ts

/* Standard Color Declarations */
$yellow: #D3AF37;
$white: #FFFCF5;
$black: #1E1E1E;
$transparentBlack: #1e1e1e1a;

/* gradients */
$blackFade: linear-gradient(180deg, #1e1e1e93 0.1%, #1e1e1e00 99.9%);

/* theme-colors map, remnant of Bootstrap approach, still used for our checkboxes */
$theme-colors: (
        "yellow": $yellow,
        "white": $white,
        "black": $black,
        "transparentBlack": $transparentBlack,
        
        "blackFade": $blackFade,
);

/* Export for Typescript / React JSX implementation */
:export {
    yellow: $yellow;
    white: $white;
    black: $black;
    transparentBlack: $transparentBlack;

    blackFade: $blackFade;
}
