.navbar {
  // background-color: red;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &_menu-open, &_menu-close {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
    z-index: 110;
    cursor: pointer;
  }

  &_main {
    background: $blackFade;
    
    &_header {
      color: $white;
      display: none;
      letter-spacing: 10px;
      font-size: 32px;
      margin-top: 2rem;
      
      &_district {
        @include montserrat(700);
        
      }
      &_eleven {
        @include montserrat(500);
      }
    }

    .nav-items {
      display: none;
    }
  }
  
  &_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    &_items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_logo {
        margin: 1rem;
        mix-blend-mode: lighten;
      }
    }
  }
}

@media (min-width: 769px) {
  .navbar {
    &_menu-open, &_menu-close {
      display: none !important;
    }

    &_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_header {
        display: block !important;
      }

      .nav-items {
        display: flex !important;
      }
    }

    &_overlay {
      display: none;
    }
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4rem)
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0)
  }
}