.navbar {
  // background-color: red;
  position: fixed;
  top: 0;
  width: 100%;

  &_main {
    
    &_header {
      color: $white;
      display: none;
      letter-spacing: 10px;
      font-size: 32px;
      margin-top: 2rem;

      &_district {
        @include montserrat(700);

      }
      &_eleven {
        @include montserrat(500);
      }
    }

    &_menu-open {
      margin: 2rem;
      cursor: pointer;
    }

    .nav-items {
      display: none;
    }

  }
  
  &_overlay {
    display: none !important;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    &_menu-close {
      position: absolute;
      top: 0;
      left: 0;
      margin: 2rem;
      cursor: pointer;
    }

    &_items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_logo {
        margin: 1rem;
        mix-blend-mode: lighten;
      }
    }
  }
}

@media (min-width: 769px) {
  .navbar {
    
    &_main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;


      &_header {
        display: block !important;
      }

      &_menu-open {
        display: none !important;
      }

      .nav-items {
        display: flex !important;
        
        .nav-button {
          margin: 1rem;
        }
      }
    }
    
    &_overlay {
      display: none;
    }
  }
}