.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  
  &_overlay {
    display: none !important;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    &_menu-close {
      position: absolute;
      top: 0;
      left: 0;
      margin: 2rem;
      cursor: pointer;
    }

    &_items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_logo {
        margin: 1rem;
        mix-blend-mode: lighten;
      }
    }
  }
}

@media (min-width: 769px) {
  .navbar {

    &_overlay {
      display: none;
    }
  }
}