.home-hero {

    &_background {
        position: absolute;
        z-index: -1;
        max-height: 100%;
        max-width: 100%;
        &_image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }
    }
}