.homepage-hero {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(30, 30, 30, 0.59);

    
    &_background {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &_img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &_content {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &_words {
            display: flex;
            flex-direction: column;

            &_header {
                @include montserrat(700);
                color: #FFFCF5;
                font-size: 48px;
                
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    
            &_greeting {
                @include montserrat(100);
                color: #FFFCF5;
                font-size: 42px;
                font-style: italic;


            }
        }

        

        &_buttons {
            display: flex;
            gap: 25px;
        }
    }
}