.page-header {
  @include montserrat(700);
  color: $white;
  background: $blackFade, url('/menu-bg.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &_title {
    font-size: 48px;
    text-align: center;
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (min-width: 508px) {
  .page-header {
    &_menu-sections {
      justify-content: center;
    }
  }
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 10rem;
    padding-bottom: 6rem;

    &_buttons {
      flex-direction: row;
    }

    &_menu-sections {
      gap: 3rem;
    }
  }
}